In [ ]:
print('hello')

In [ ]:
print("hello")

In [ ]:
print("'hello'")

In [ ]:
print('"hello"')

In [ ]:
7/2

In [ ]:
7 %2

# 2*4

In [ ]:
0.1+0.8-.3

In [ ]:
a

In [ ]:
a

In [ ]:
a= ssd

In [ ]:
a

In [1]:
a='sadasds'

In [2]:
a

'sadasds'

In [3]:
a[1:]

'adasds'

In [4]:
a[0:-1]

'sadasd'

In [9]:
a[:-2:2]

'sds'

In [10]:
a[:2]

'sa'

In [11]:
a

'sadasds'

In [12]:
a[1]

'a'

In [13]:
a[-3]

's'

In [14]:
a(1)

TypeError: 'str' object is not callable

In [15]:
a[1]

'a'

In [16]:
'hello world'

'hello world'

In [17]:
a.upper()

'SADASDS'

In [27]:
print(THe {1}.format('for','quick'))

SyntaxError: invalid syntax (<ipython-input-27-22a646bbe0c6>, line 1)

In [28]:
print("THe {f}".format(f='for',q='quick'))

THe for

In [18]:
a=15

In [19]:
print(a)

15

In [26]:
print("1" + a)

TypeError: can only concatenate str (not "int") to str

In [29]:
list=['dsd','sadsds','sadsad']

In [30]:
list

['dsd', 'sadsds', 'sadsad']

In [31]:
a='hello'

In [32]:
list.append(a)

In [33]:
list

['dsd', 'sadsds', 'sadsad', 'hello']

In [36]:
list.sort()

In [109]:
for a in list:
    print(a)

1
2
1
hi
HI

In [51]:
list.pop()

'sadsds'

In [44]:
print("{} {} {}".format(1,'two',3.14159))

1 two 3.14159

In [47]:
a=1

In [48]:
a

1

In [49]:
print(a)

1

In [78]:
d= {'k1':1,'key2':'two','k3':1.44}

In [88]:
for aaa in d.keys():
    print (aaa)
    
d['k1']

k1
key2
k3

1

In [14]:
for val in d.values():
    print(val)

1
two
1.44

In [75]:
d["k3"]

1.44

In [61]:
d.values()

dict_values([1, 'two', 1.44])

In [64]:
d.pop(k1)

NameError: name 'k1' is not defined

In [65]:
d

{'k1': 1, 'key2': 'two', 'k3': 1.44}

In [66]:
d.popitem()

('k3', 1.44)

In [67]:
d

{'k1': 1, 'key2': 'two'}

In [68]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [71]:
d.pop('k1')

KeyError: 'k1'

In [85]:
d

{'k1': 1, 'key2': 'two', 'k3': 1.44}

In [76]:
list=[1,2,1,'hi','HI']

In [77]:
list

[1, 2, 1, 'hi', 'HI']

In [84]:
set(list).union(d)

{1, 2, 'HI', 'hi', 'k1', 'k3', 'key2'}

In [87]:
type(True)

bool

In [90]:
type(TRUE)

NameError: name 'TRUE' is not defined

In [91]:
pwd

'C:\\Users\\utkamishra\\Python codes'

In [95]:
a='s','d','e'

In [96]:
a[::-1]

('e', 'd', 's')

In [108]:
mylist='hello world'

for char in mylist:
    print(char.upper())

H
E
L
L
O

W
O
R
L
D

In [46]:
mylist= [(1,2,3),[4,5,6],[7,8,9]]
#mylist[0][0] = 3
print (mylist)

[(1, 2, 3), [4, 5, 6], [7, 8, 9]]

In [16]:
for a,b,c in mylist:
    print(a)
    pass
print(b)

1
4
7
8

In [17]:
from random import randint

In [20]:
randint(0,mylist)

TypeError: can only concatenate list (not "int") to list

In [73]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [76]:
for num in a:
    q=num
    print(q)

1
2
3
4

In [23]:
a

'Aman'

In [59]:
mylist = []


for num in range(1,51):
    if num % 3 == 0:
        mylist.append(num)
        print(mylist)

[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]
[3, 6, 9, 12, 15]
[3, 6, 9, 12, 15, 18]
[3, 6, 9, 12, 15, 18, 21]
[3, 6, 9, 12, 15, 18, 21, 24]
[3, 6, 9, 12, 15, 18, 21, 24, 27]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [58]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [60]:
st = 'Print every word in this sentense that has even number of letters'

In [65]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word)

word
in
this
sentense
that
even
number
of

In [68]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print(f'{num} FizzBuzz')
        
    elif num % 3 == 0:
        print(f'{num} Fizz')
        
    elif num % 5 == 0:
        print(f'{num} buzz')

3 Fizz
5 buzz
6 Fizz
9 Fizz
10 buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 buzz
21 Fizz
24 Fizz
25 buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 buzz
36 Fizz
39 Fizz
40 buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 buzz
51 Fizz
54 Fizz
55 buzz
57 Fizz
60 FizzBuzz
63 Fizz
65 buzz
66 Fizz
69 Fizz
70 buzz
72 Fizz
75 FizzBuzz
78 Fizz
80 buzz
81 Fizz
84 Fizz
85 buzz
87 Fizz
90 FizzBuzz
93 Fizz
95 buzz
96 Fizz
99 Fizz
100 buzz

In [72]:
rlist = []
st= 'Create a list of first letter of each word'

for word in st.split():
    rlist.append(word[0].lower())

print (rlist)

['c', 'a', 'l', 'o', 'f', 'l', 'o', 'e', 'w']